<!-- app/templates/base.html -->
<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>Simulado Cisco</title>
    <link rel="stylesheet" href="/static/css/styles.css">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>
    <div class="container">
        <h1>Simulado de Configuração de Roteadores Cisco via CLI</h1>
        {% block content %}
        {% endblock %}
    </div>
    <script src="/static/js/scripts.js"></script>
</body>
</html>
